<!-- <uoh-accessibility [dir]="direction" [lang]="lang">
  <uoh-spinner></uoh-spinner>
  <ng-container *ngIf="isStudent(); else guestHeader">
    <uoh-header [header]="'APP_TITLE' | translate" [user]="user" (logOut)="logout()"></uoh-header>
  </ng-container>
  <ng-template #guestHeader>
    <uoh-header [header]="'APP_TITLE' | translate"></uoh-header>
  </ng-template>
  <div class="fake-header">
  </div>
  <uoh-back-to-top></uoh-back-to-top>
  <router-outlet></router-outlet>
  <uoh-footer [version]="1"></uoh-footer>
</uoh-accessibility> -->
<h1>hello!!</h1>
<uoh-footer [version]="1"></uoh-footer>
<uoh-header [header]="'fff'"></uoh-header>