.fake-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    margin-top: -32px;
    box-sizing: border-box;
    padding: 0 0.5rem;
}